<div class="user-box">
	<div class="container">
		<div class="row">
			<div class="user_content col-md-3">
				<div class="user-profile">
				<%= attachment_image_tag @user, :profile_image, :fill, 200, 200, fallback: "no_image.jpeg", size:'200x200', class:"profile-thumb img-circle col-md-offset-4" %>
				</div>
			</div>
			<div class="user_content col-md-7">
				<h1 class="user_name"><%= @user.user_name %></h1>
				<% if @user == current_user %>
					<div class="user_name">
						<%= link_to 'プロフィール編集', edit_user_path, class:'edit_form btn btn-primary',
														   style:"text-decoration: none;" %>
					</div>
				<% else %>
					<div class="user_name">
						<%= render 'users/follow_form' %>
					</div>
				<% end %>
				<section class="following">
					<%= render 'users/following' %>
				</section>
				<h4 style="margin-left: 15px;"><%= @user.profile %></h4>
				<div class="message">
					<% if @user.id == current_user.id %>
					<% else %>
					 	<% if @isRoom == true %>
					    	<p><a href="/rooms/<%= @roomId %>" class="btn btn-default">メッセージを送る</a></p>
					  	<% else %>
						    <%= form_for(@room) do |f| %>
						      <%= fields_for @entry do |e| %>
						        <%= e.hidden_field :user_id, :value=> @user.id %>
						      <% end %>
						      	<%= f.submit "メッセージを送る", class:"btn btn-default" %>
						   	<% end %>
					  	<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<nav id="navigation">
	<div class="articles-Wrapper" id="articles-scroll">
	    <div class="flex">
	    	<ul>
				<li class="user-menu"><h4><%= link_to '投稿リスト', user_path(@user.id),
													   style:"text-decoration: none;"  %></h4></li>
				<li class="user-menu"><h4><%= link_to 'いいねリスト', user_user_favorites_path(@user.id),
											           style:"text-decoration: none;" %></h4></li>
				<li class="user-menu"><h4><%= link_to 'フォルダリスト', user_folder_list_path(@user.id),
													   style:"text-decoration: none;" %></h4></li>
			</ul>
			<% if @user == current_user %>
				<div class="folder-new">
					<h4><%= link_to new_folder_path(@user.id), style:"text-decoration: none;" do %>
						<i class="fas fa-folder"></i> New folder
						<% end %>
					</h4>
				</div>
			<% end %>
		</div>
	</div>
</nav>