<div class="container">
    <div class="col-md-8 col-md-offset-2" style="margin-top: 50px; border-radius: 10px;">
      	<div class="visiter-user style-1 rounded has-shadow-1">
      		<div class="new-post-header" style="color: green;border-bottom: 1px solid #DDDDDD;">
				<h2 class="sub-title text-center">
					<span class="glyphicon glyphicon-send" aria-hidden="true"></span> 投稿編集</h2>
			</div>
			<%= form_for(@post) do |f| %>
				<div class="post-field row">
					<h3 class="col-md-8 col-md-offset-2">投稿画像</h3>
					<%= f.attachment_field :main_image, class:"col-md-8 col-md-offset-2" %>
				</div>
				<div class="post-field row">
					<%= f.text_field :post_title, class:"col-md-8 col-md-offset-2 field-form", placeholder: 'タイトル' %>
				</div>
				<div class="post-field row">
					<%= f.text_area :post_text, class:"col-md-8 col-md-offset-2 field-form",
												placeholder: '内容を入力してください',
												:size => "90x15" %>
				</div>
				<div class="post-field row">
					<%= f.submit '完了', class:"col-md-8 col-md-offset-2 btn btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>
</div>