<div class="container">
	<nav class="row row-eq-height">
		<ul class="card">
			<% @posts.reverse.each do |posts| %>
				<%= link_to post_path(posts.id),style:"color: #000080;" do %>
					<li class="post-list">
						<p style="margin: 7px;">
							<%= attachment_image_tag posts.user, :profile_image, :fill, 30, 30, fallback: "no_image.jpeg",
								size:'30x30', class:"card-img-top profile-thumb img-circle" %>  <%= posts.user.user_name %>
						</p>
							<%= attachment_image_tag posts, :main_image, :fill, 340, 250, style:" margin: 0 5px 5px 5px; " %>
						<div class="card-body inner-box">
							<h4 class="card-text" style="padding-left: 20px;"><%= posts.post_title %></h4>
							<p class="post-date"><label id="favorite_count"><%= posts.favorites.count %>いいね</label>
							<label><%= "#{posts.post_comments.count}" %>コメント</label>
							<label><%= posts.created_at.strftime('%Y/%m/%d') %></label></p>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>
	</nav>
</div>
