
<div class="container">
	<div class="card col-md-offset-1 post-show" style="width: 670px;">
		<p class="post-text" style="font-size: 18px;"><%= attachment_image_tag @post.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpeg", size:'60x60', class:"card-img-top profile-thumb img-circle" %>    <%= @post.user.user_name %></p>
		<%= attachment_image_tag @post, :main_image, :fill, 650, 400, style:" margin: 0 10px 5px 10px;" %>
		<div class="card-body inner-box post-text">
			<h3><%= @post.post_title %></h3>
			<p><%= simple_format(@post.post_text) %></p>
			<div id="favorites_buttons_<%= @post.id %>">
			    <%= render partial: 'favorites/favorites', locals: { post: @post} %>
			</div>

			<%= @post.post_comments.count %>

			<% @post.post_comments.each do |post_comment| %>
				<%= attachment_image_tag post_comment.user, :profile_image,  :fill, 60, 60, fallback:"no_image.jpeg", size:'60x60'  %>
				<%= post_comment.user.user_name %>
				<%= post_comment.created_at.strftime('%Y/%m/%d') %>
				<%= post_comment.comment %>
			<% end %>

			<%= form_for [@post,@post_comment] do |f| %>
				<%= f.text_area :comment, rows:'5' %>
				<%= f.submit "コメント" %>
			<% end %>
			<% if @post.user == current_user %>
				<%= link_to '編集', edit_post_path %>
				<%= link_to '削除', post_path(@post.id), method: :delete, data: { confirm: '本当によろしいですか？'} %>
			<% end %>
		</div>
	</div>
</div>
