
<div class="container">
	<div class="card col-md-offset-2 post-show" style="width: 670px;">
		<%= link_to user_path(@post.user.id), style:"text-decoration: none;" do %>
		<p class="post-text" style="font-size: 18px;">
			<%= attachment_image_tag @post.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpeg",
				size:'60x60', class:"card-img-top profile-thumb img-circle" %>    <%= @post.user.user_name %>
		</p>
		<% end %>
		<%= attachment_image_tag @post, :main_image, :fill, 650, 400, style:" margin: 0 10px 5px 10px;" %>
		<div class="card-body inner-box post-text">
			<section id="post-title">
				<label><h3><strong><%= @post.post_title %></strong></h3></label>
				<% if user_signed_in? %>
					<label style="float: right; margin: 15px 10px 0 0;"><button type="button"  data-target="con1" class="modal-open btn btn-success mt-5">この投稿を保存</button></label>
					<div id="con1" class="modal-content">
						<h4>フォルダ名選択</h4>
						<% @folders.each do |folder| %>
					    	<li><h3><%= link_to "#{folder.folder_name}", post_folder_folder_items_path(@post.id, folder.id), method: :post %></h3></li>
					    <% end %>
					<p><a class="modal-close">閉じる</a></p>
					</div>
				<% end %>
			</section>
			<p><%= simple_format(@post.post_text) %></p>
			<div id="favorites_buttons_<%= @post.id %>" class="favorites-box">
		    	<%= render partial: 'favorites/favorites', locals: { post: @post} %>
			</div>

			<div class="hidden_box">
			    <label class="label-hover" for="label1"><%= @post.post_comments.count %>件のコメントを表示</label>
			    <input type="checkbox" id="label1"/>
			    <div class="hidden_show">
					<% @post.post_comments.each do |post_comment| %>
						<li class="comment-list" style="margin-top: 5px;">
							<div id="comment-text">
								<%= link_to user_path(post_comment.user.id), style:"color: #000080;" do %>
									<p><%= attachment_image_tag post_comment.user,
										   :profile_image,  :fill, 30, 30, fallback:"no_image.jpeg", size:'30x30',
										   class:"card-img-top profile-thumb img-circle" %>   <%= post_comment.user.user_name %>
									</p>
								<% end %>
								<p><%= simple_format(post_comment.comment) %></p>
								<p><%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
							</div>
						</li>
					<% end %>
				</div>
			</div>
			<% if user_signed_in? %>
				<%= form_for [@post,@post_comment] do |f| %>
					<%= f.text_area :comment, :size => "85x4" %>
					<%= f.submit "コメント" %>
				<% end %>
			<% end %>
			<% if @post.user == current_user %>
				<%= link_to '編集', edit_post_path %>
				<%= link_to '削除', post_path(@post.id), method: :delete, data: { confirm: '本当によろしいですか？'} %>
			<% end %>
		</div>
	</div>
</div>
